<div>
    <form name="searchUser" ng-submit="getUserData(username)">
        <input type="search" required placeholder="username to find" ng-model="username"/>
        <input type="submit" value="search"/>
    </form>

    <h2 ng-show="countdown">{{countdown}}</h2>
</div>