<div>
    <a href="#/user/{{username}}">Back to {{username}}</a> <a href="#/main">Search Again</a>

    <h2>{{repo.name}}</h2>
    <p>Open Issues Count: {{details.open_issues_count}} {{detailsFailure}}</p>

    <h3>Contributors</h3>

    <p ng-hide="contributors">None yet</p>

    {{contribFailure}}

    <ul>
        <li ng-repeat="contributor in contributors">
            <img ng-src="{{contributor.avatar_url}}" width="80" height="80" />
            {{contributor.login}}
        </li>
    </ul>
</div>