<div>
    <h2>{{username}}</h2>
    <a href="#/main">Search Again</a>

    <p>{{failure}}</p>

    <p><img ng-src="{{user.avatar_url}}" title="{{user.login}}" width="80" height="80"/></p>

    <p>Order:
    <select ng-model="repoSortOrder">
        <option value="+name">Name</option>
        <option value="-stargazers_count">Stars</option>
        <option value="+language">Language</option>
    </select>
    </p>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Stars</th>
            <th>Language</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
            <td><a href="#/user/{{user.login}}/{{repo.name}}">{{repo.name}}</a></td>
            <td>{{repo.stargazers_count | number}}</td>
            <td>{{repo.language}}</td>
        </tr>
        </tbody>
    </table>
</div>
